html {
  margin: 0px;
  overflow: hidden;
}

main {
  background-image: url('../assets/background-beach.jpg');
  background-size: cover;
}

.App {
  text-align: center;
}

.main-info {
  height: 90vh;
  width: 100vw;
  display: flex;
}


