aside {
  height: 90vh;
  width: 22vw;
  border: solid 1px black;
}

.attraction-aside-text {
  font-size: 25px;
  margin: 10px;
  font-weight: 700;
}

.attraction-aside-button {
  margin: 15px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 6px;
  width: 140px;
  height: 38px;
  cursor: pointer;
}

