.attraction-card-container {
  height: 90vh;
  width: 78vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 15px;
  overflow: auto;
}

.attraction-text {
  font-size: 40px;
  margin: 10px;
  font-weight: 600;
}

.attraction-button {
  font-size: 20px;
  border: 2px solid black;
  border-radius: 6px;
  width: 120px;
  height: 38px;
  cursor: pointer;
}