.form-title {
  margin: 20px;
  font-size: 28px;
}

.form-label {
  font-size: 20px;
  font-weight: 600;
}

.form-selector {
  margin: 10px;
}

.form-button-container {
  margin-left: 15px;
}

.form-button {
  font-size: 20px;
  border: 2px solid black;
  border-radius: 6px;
  width: 120px;
  height: 38px;
  cursor: pointer;
}