.usage-container {
  display: flex;
  justify-content: center;
}

.usage-card {
  text-align: center;
  height: 24vh;
  width: 19vw;
  border: 3px solid black;
  border-radius: 10px;
  margin: 20px;
  margin-top: 70px;
}

.skydiving,
.beach,
.location {
  height: 40px;
  width: 40px;
  margin-top: 8px;
}

.usage-text {
  margin: 2px;
}