.planner-info {
  height: 90vh;
  width: 100vw;
  display: flex;
}

.planner-container {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  overflow: auto;
}

.planner-card {
  height: 400px;
  width: 400px;
  border: 2px solid black;
  margin: 15px;
}